# Try to keep each section sorted alphabetically (with some exceptions to group entries together)
[versions]
autoService = "1.1.1"

# Versions used by build-logic
googleJavaFormat = "1.18.1"
ktlint = "1.0.0"

[libraries]
autoService = { module = "com.google.auto.service:auto-service", version.ref = "autoService" }
autoService-annotations = { module = "com.google.auto.service:auto-service-annotations", version.ref = "autoService" }
compileTesting = "com.google.testing.compile:compile-testing:0.21.0"
junit = "junit:junit:4.13.2"
truth = "com.google.truth:truth:1.1.5"

# Used in below bundle
errorprone-core = "com.google.errorprone:error_prone_core:2.22.0"
nullaway = "com.uber.nullaway:nullaway:0.10.14"

[bundles]
# Used by build-logic
errorprone = [ "errorprone-core", "nullaway" ]

[plugins]
errorprone = "net.ltgt.errorprone:3.1.0"
nullaway = "net.ltgt.nullaway:1.6.0"
spotless = "com.diffplug.spotless:6.22.0"
